@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

*{
    font-family: 'Source Sans Pro', sans-serif;
}

body{
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #1c1917;
}

::-webkit-scrollbar-thumb {
    background: #ea580c;
    border-radius: 100vh;
}

.bar{
    height: 2px;
    width: 100%;
    border-radius: 100vh;
    margin: 10% auto;
    background: #ea580c;
}

.bar2{
    height: 2px;
    width: 100%;
    border-radius: 100vh;
    margin: 5% auto;
    background: #ea580c;
}